.app-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header"
  "wrapper";
  background-color: var(--color-brand);
  height: inherit;
  padding-top: 6px;
  gap: 7px;
  &__header {
    grid-area: header;
  }
  &__wrapper {
    grid-area: wrapper;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "sidebar main";

    border-radius: 32px 32px 0 0;
    padding-top: 20px;
    background-color: var(--color-background);
  }
  &__sidebar {
    grid-area: sidebar;
  }
  &__main {
    grid-area: main;
  }
}